---
title: false
styles: true
---

$backgroundColour: #1f1f1f;
$codeBackgroundColour: #2c2c2c;
$featureBackgroundColour: #2c2c2c;
$accentColour: #ff5722;

$generalText: #ffffffd9;

$headingColour: $generalText;

$bodyColour: $generalText;
$linkColour: $generalText;
$hoverColour: $accentColour;
$focusColour: $accentColour;
$captionColour: $generalText;

.feature,
#gmcserver {
	color: #eceff1;
}

.button {
	color: #ffffff !important;
}

.footer {
  background-color: $featureBackgroundColour !important;
}

@import "alembic";
